$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
$primary-color: #222222;
$secondary-color: #f02e5e;
$tertiary-color: #efefef;
$oscuro: #252525;
$oscuro2: #333;
$oscuro3: #ddd;
$oscuro4: #444;
$oscuro5: #aaa;
$claro: #f5f5f5;
$claro2: #d5d5d5;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
